<div class ="contents row">
  <div class="content_post">
    <% if user_signed_in? && current_user.id == @diary.user_id %>
      <div class="more">
        <span><%= image_tag 'arrow_top.png' %></span>
      <ul class="more_list">
        <li>
          <%= link_to '編集', "/diaries/#{@diary.id}/edit", method: :get %>
          diary_path(@diary.id)
        </li>
        <li>
          <%= link_to '削除', "/diaries/#{@diary.id}", method: :delete %>
        </li>
      </ul>
    </div>
    <% end %>
    <%= simple_format(@diary.text) %>
    <span class="name">
      <a href="/users/<%= @diary.user.id %>">
        <span>投稿者</span><%= @diary.user.name %>
      </a>
    </span>
  </div>
    <div class="container"> 
    <!-- ここからフォーム -->
    <% if current_user %>
      <%= form_tag("/diaries/#{@diary.id}/likes", method: :post, id: "new_like") do %>
        <textarea cols="30" name="content" placeholder="コメントする" rows="2" class="textbox"></textarea>
        <input type="submit" value="SENT">
      <% end %>
    <% end %>
    </div>
  </div>
</div>